/* DOCUMENT INFORMATION
	- Version/Date: v0.1/2013
	- Client: Lukas Martinelli
	- Author: Lukas Martinelli   
*/
/* ===============
   Base Rules 
   =============== */
/* ===Globals=== */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  height: 100%; }

section, article, header, footer {
  display: block; }

body {
  background: white url("../img/bg.png");
  font-size: 0.875em;
  line-height: 1.5em;
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #555555; }

/* ===Headings=== */
h1, h2, h3, h4, h5, h6 {
  font-family: "Georgia", "Times New Roman", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  color: color-dark;
  text-shadow: 0 1px 0 #eee; }
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: #444444; }
    h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
      color: #e86a4d;
      text-decoration: none; }

h1 {
  font-size: 2.14286em;
  line-height: 1.83333em; }

h2 {
  font-size: 2.5em;
  line-height: 1.14286em;
  font-style: italic;
  margin-bottom: 0.57143em; }

/* ===Links=== */
a {
  color: #e86a4d;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

/* ===Text=== */
p {
  margin: 0 0 1.42857em 0; }

img {
  max-width: 100%; }

/* ===Footer=== */
footer {
  color: #999999;
  font-size: 0.78571em; }
  footer a {
    color: #999999; }

/* ===============
   Layout Rules 
   =============== */
/* ===Top section=== */
#top {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  border-bottom: 8px solid rgba(40, 40, 40, 0.1);
  opacity: 0.9;
  z-index: 50; }
  #top header {
    border-top: 3px solid #e86a4d;
    border-bottom: 1px solid #d4d4d4;
    background: -webkit-linear-gradient(top, white 0%, white 65%, #eeeeee 100%);
    background: linear-gradient(to bottom, white 0%, white 65%, #eeeeee 100%);
    overflow: hidden; }
  @media only screen and (max-width: 30.71429em) {
    #top {
      position: relative; } }

/* ===Main section=== */
#main {
  margin-top: 6.42857em; }
  @media only screen and (max-width: 30.71429em) {
    #main {
      margin-top: 1.42857em; } }

#content {
  background: rgba(40, 40, 40, 0.1); }

@media only screen and (min-width: 68.57143em) {
  #content {
    float: left;
    width: 80%; }

  #right {
    float: right;
    width: 20%;
    padding-left: 1.42857em; } }
/* ===Bottom=== */
#bottom {
  padding-top: 1.42857em; }

/* ===============
   Module Rules 
   =============== */
/* ===Branding=== */
div.branding {
  float: left; }
  div.branding h1, div.branding h2 {
    display: inline-block; }
  div.branding h2 {
    margin: 0;
    font-size: 0.85714em;
    color: #555555; }

/* ===TopNav === */
#top-nav {
  float: right;
  margin: 1.42857em 0 0.71429em 0; }
  @media only screen and (max-width: 30.71429em) {
    #top-nav {
      margin: 0.71429em 0 0.71429em 0; } }
  #top-nav li {
    float: left;
    line-height: 1.28571em;
    list-style: none; }
    #top-nav li a {
      font-size: 0.78571em;
      padding: 0 1.42857em 0.71429em 0;
      font-weight: bold;
      text-transform: uppercase;
      text-decoration: none;
      color: #444444; }
    #top-nav li:last-child a {
      padding-right: 0; }

/* ===Article=== */
article {
  background-color: #f7f7f7;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7f7f7), color-stop(4%, white), color-stop(100%, white));
  background-image: -webkit-linear-gradient(right, #f7f7f7 0%, white 4%, white 100%);
  background-image: linear-gradient(to left,#f7f7f7 0%, white 4%, white 100%);
  box-shadow: 0 0 0.21429em 0 #cccccc;
  margin: 0 0 1.42857em 0; }
  article div.content {
    padding: 1.42857em; }
  article footer {
    padding: 0.71429em 1.42857em;
    border-top: 1px solid #eee;
    overflow: hidden; }

/* ===Biography=== */
div.bio {
  background-color: #f7f7f7;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7f7f7), color-stop(4%, white), color-stop(100%, white));
  background-image: -webkit-linear-gradient(right, #f7f7f7 0%, white 4%, white 100%);
  background-image: linear-gradient(to left,#f7f7f7 0%, white 4%, white 100%);
  box-shadow: 0 0 0.21429em 0 #cccccc; }
  div.bio div.description {
    padding: 0.71429em 1.42857em; }
  div.bio .tags {
    float: left; }
  div.bio .permalink {
    float: right; }

.container {
  position: relative;
  margin: 0 auto;
  padding: 0 1.42857em;
  overflow: hidden;
  max-width: 87.42857em; }
