/* DOCUMENT INFORMATION
	- Version/Date: v0.1/2013
	- Client: Lukas Martinelli
	- Author: Lukas Martinelli
*/
/* ===============
   Base Rules 
   =============== */
/* ===Globals=== */
/* line 8, ../sass/_base.scss */
* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 16, ../sass/_base.scss */
html, body {
  height: 100%;
}

/* line 18, ../sass/_base.scss */
section, article, header, footer {
  display: block;
}

/* line 20, ../sass/_base.scss */
body {
  background: white url("../img/bg.png");
  font-size: 1em;
  line-height: 1.3125em;
  font-family: "Open Sans", Arial, sans-serif;
  color: #666666;
}

/* ===Headings=== */
/* line 30, ../sass/_base.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", Arial, serif;
  font-weight: normal;
  font-style: normal;
  color: #444444;
  text-shadow: 0 1px 0 #eee;
}
/* line 37, ../sass/_base.scss */
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: #444444;
}
/* line 39, ../sass/_base.scss */
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
  color: #e86a4d;
  text-decoration: none;
}

/* line 46, ../sass/_base.scss */
h1 {
  font-size: 2.25em;
  line-height: 1.52778em;
  margin-bottom: 0.27778em;
}

/* line 52, ../sass/_base.scss */
h2 {
  font-size: 2em;
  line-height: 1.25em;
  margin-bottom: 0.33333em;
}

/* line 58, ../sass/_base.scss */
h3 {
  font-size: 1.375em;
  line-height: 1.36364em;
  margin-bottom: 0.36364em;
}

/* line 64, ../sass/_base.scss */
h4 {
  font-size: 1.125em;
  line-height: 1.11111em;
}

/* ===Links=== */
/* line 71, ../sass/_base.scss */
a {
  color: #e86a4d;
  text-decoration: none;
}
/* line 74, ../sass/_base.scss */
a:hover {
  text-decoration: underline;
}

/* ===Text=== */
/* line 79, ../sass/_base.scss */
p {
  margin: 0 0 1.25em 0;
}

/* line 83, ../sass/_base.scss */
img {
  max-width: 100%;
}

/* line 87, ../sass/_base.scss */
ul, ol {
  margin-bottom: 20px;
}

/* line 88, ../sass/_base.scss */
ul {
  list-style: none outside;
}

/* ===Blockquote=== */
/* line 92, ../sass/_base.scss */
code {
  background-color: #f9f9f9;
}

/* line 97, ../sass/_base.scss */
.highlight, blockquote {
  background-color: #f9f9f9;
  padding: 0.4375em 0.4375em 0.4375em 0.625em;
  border: 1px solid #ddd;
  -moz-box-shadow: 3px 3px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 3px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 3px 3px rgba(0, 0, 0, 0.1);
  margin: 1.25em 0 1.25em 0;
  overflow: hidden;
}

/* line 108, ../sass/_base.scss */
blockquote {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
/* line 111, ../sass/_base.scss */
blockquote p {
  display: inline;
}
/* line 113, ../sass/_base.scss */
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

/* ===Table=== */
/* line 124, ../sass/_base.scss */
table {
  border-collapse: collapse;
  text-rendering: optimizeLegibility;
  text-align: left;
  margin-bottom: 1.25em;
  width: 100%;
}
/* line 131, ../sass/_base.scss */
table th {
  background: #E86A4D;
  color: #fff;
  font-weight: 600;
}
/* line 137, ../sass/_base.scss */
table th, table td {
  padding: 0.625em;
  border-bottom: 1px solid #E86A4D;
}
/* line 143, ../sass/_base.scss */
table img {
  vertical-align: middle;
}

@media screen and (max-width: 600px) {
  /* line 150, ../sass/_base.scss */
  table thead {
    display: none;
  }
  /* line 151, ../sass/_base.scss */
  table tbody td {
    display: block;
  }
  /* line 154, ../sass/_base.scss */
  table td:first-child {
    background: #E86A4D;
    color: #fff;
  }
  /* line 158, ../sass/_base.scss */
  table tbody td:before {
    content: attr(data-th);
    font-weight: bold;
    display: inline-block;
    width: 10rem;
  }
}
/* ===============
   Layout Rules 
   =============== */
/* ===Top section=== */
/* line 11, ../sass/_layout.scss */
#top {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  border-bottom: 8px solid rgba(40, 40, 40, 0.1);
  opacity: 0.9;
  z-index: 50;
}
/* line 20, ../sass/_layout.scss */
#top header {
  border-top: 3px solid #e86a4d;
  border-bottom: 1px solid #d4d4d4;
  background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 65%, #eeeeee 100%);
  background: -webkit-linear-gradient(top, #ffffff 0%, #ffffff 65%, #eeeeee 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #ffffff 65%, #eeeeee 100%);
  overflow: hidden;
}
@media only screen and (max-width: 26.25em) {
  /* line 11, ../sass/_layout.scss */
  #top {
    position: relative;
  }
}

/* ===Main section=== */
/* line 36, ../sass/_layout.scss */
#main {
  margin-top: 5.625em;
  overflow: visible;
}
@media only screen and (max-width: 26.25em) {
  /* line 36, ../sass/_layout.scss */
  #main {
    margin-top: 1.25em;
  }
}

/* line 45, ../sass/_layout.scss */
#content {
  background: rgba(40, 40, 40, 0.1);
}

@media only screen and (min-width: 60em) {
  /* line 50, ../sass/_layout.scss */
  #content {
    float: left;
    width: 80%;
  }

  /* line 55, ../sass/_layout.scss */
  #right {
    float: right;
    width: 20%;
    padding-left: 1.25em;
  }
}
/* ===Bottom=== */
/* line 64, ../sass/_layout.scss */
#bottom {
  clear: both;
  padding-top: 1.25em;
}

/* ===============
   Module Rules 
   =============== */
/* ===Branding=== */
/* line 9, ../sass/_module.scss */
div.branding {
  float: left;
}
/* line 12, ../sass/_module.scss */
div.branding a {
  color: inherit;
}
/* line 16, ../sass/_module.scss */
div.branding h1, div.branding h2 {
  font-family: "Share Tech", cursive;
  display: inline-block;
}
/* line 21, ../sass/_module.scss */
div.branding h2 {
  margin: 0;
  font-size: 0.8125em;
  color: #666666;
}

/* ===TopNav === */
/* line 30, ../sass/_module.scss */
#top-nav {
  float: right;
  margin: 1.25em 0 0.625em 0;
}
@media only screen and (max-width: 60em) {
  /* line 30, ../sass/_module.scss */
  #top-nav {
    margin: 0.625em 0 0.625em 0;
  }
}
/* line 39, ../sass/_module.scss */
#top-nav li {
  float: left;
  line-height: 1.125em;
  list-style: none;
}
/* line 44, ../sass/_module.scss */
#top-nav li a {
  font-size: 0.8125em;
  padding: 0 1.25em 0.625em 0;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: #444444;
}
/* line 53, ../sass/_module.scss */
#top-nav li:last-child a {
  padding-right: 0;
}

/* ===Article=== */
/* line 62, ../sass/_module.scss */
article {
  background: -moz-linear-gradient(left, #f7f7f7 0%, #ffffff 4%, #ffffff 100%);
  background: -webkit-linear-gradient(left, #f7f7f7 0%, #ffffff 4%, #ffffff 100%);
  background: linear-gradient(to right, #f7f7f7 0%, #ffffff 4%, #ffffff 100%);
  -moz-box-shadow: 0 0 0.1875em 0 #cccccc;
  -webkit-box-shadow: 0 0 0.1875em 0 #cccccc;
  box-shadow: 0 0 0.1875em 0 #cccccc;
  position: relative;
  margin: 0 0 1.25em 0;
}
/* line 67, ../sass/_module.scss */
article .content {
  padding: 0 1.25em;
}
/* line 71, ../sass/_module.scss */
article header {
  padding: 4em 1.25em 0 1.25em;
}
/* line 74, ../sass/_module.scss */
article header .post-format {
  width: 4em;
  height: 4em;
  left: 1.25em;
  top: 0em;
  position: absolute;
  background-color: #e86a4d;
}
/* line 83, ../sass/_module.scss */
article header .post-date {
  font-size: 16;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.625em;
  color: #fff;
  background-color: #ccc;
  width: 4em;
  height: 1.5625em;
  left: 5.25em;
  top: 0em;
  position: absolute;
}
@media only screen and (min-width: 76.5em) {
  /* line 71, ../sass/_module.scss */
  article header {
    padding-top: 1.25em;
  }
  /* line 100, ../sass/_module.scss */
  article header .post-format {
    left: -4em;
    top: 1.25em;
  }
  /* line 105, ../sass/_module.scss */
  article header .post-date {
    top: 5.3125em;
    left: -4em;
  }
}
/* line 114, ../sass/_module.scss */
article footer {
  padding: 0.625em 1.25em;
  border-top: 1px solid #eee;
  overflow: hidden;
}

/* ===Comments=== */
/* line 122, ../sass/_module.scss */
.comments {
  background: -moz-linear-gradient(left, #f7f7f7 0%, #ffffff 4%, #ffffff 100%);
  background: -webkit-linear-gradient(left, #f7f7f7 0%, #ffffff 4%, #ffffff 100%);
  background: linear-gradient(to right, #f7f7f7 0%, #ffffff 4%, #ffffff 100%);
  -moz-box-shadow: 0 0 0.1875em 0 #cccccc;
  -webkit-box-shadow: 0 0 0.1875em 0 #cccccc;
  box-shadow: 0 0 0.1875em 0 #cccccc;
  margin: 0 0 1.25em 0;
  padding: 0 1.25em;
}

/* ===Biography=== */
/* line 130, ../sass/_module.scss */
.bio {
  overflow: hidden;
  background: -moz-linear-gradient(left, #f7f7f7 0%, #ffffff 4%, #ffffff 100%);
  background: -webkit-linear-gradient(left, #f7f7f7 0%, #ffffff 4%, #ffffff 100%);
  background: linear-gradient(to right, #f7f7f7 0%, #ffffff 4%, #ffffff 100%);
  -moz-box-shadow: 0 0 0.1875em 0 #cccccc;
  -webkit-box-shadow: 0 0 0.1875em 0 #cccccc;
  box-shadow: 0 0 0.1875em 0 #cccccc;
}
/* line 134, ../sass/_module.scss */
.bio .description {
  padding: 0.625em 1.25em;
}
@media only screen and (max-width: 60em) {
  /* line 139, ../sass/_module.scss */
  .bio .avatar {
    padding: 1.25em 0 1.25em 1.25em;
    width: 30%;
    float: left;
  }
  /* line 145, ../sass/_module.scss */
  .bio .description {
    padding: 1.25em;
    float: left;
    width: 70%;
  }
}

/* ===Footer=== */
/* line 156, ../sass/_module.scss */
footer {
  color: #999999;
  font-size: 0.875em;
}
/* line 160, ../sass/_module.scss */
footer a {
  color: #999999;
}
/* line 164, ../sass/_module.scss */
footer .tags {
  float: left;
}
/* line 165, ../sass/_module.scss */
footer .permalink {
  float: right;
}

/* ===Icons === */
/* line 72, icon/*.png */
.icon-sprite, .icon-cloud, .icon-idea, .icon-python, .icon-web {
  background-image: url('../img/icon-s7f064f9918.png');
  background-repeat: no-repeat;
}

/* line 84, ../../../.gem/ruby/2.1.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/utilities/sprites/_base.scss */
.icon-cloud {
  background-position: 0 0;
}

/* line 84, ../../../.gem/ruby/2.1.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/utilities/sprites/_base.scss */
.icon-idea {
  background-position: 0 -64px;
}

/* line 84, ../../../.gem/ruby/2.1.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/utilities/sprites/_base.scss */
.icon-python {
  background-position: 0 -128px;
}

/* line 84, ../../../.gem/ruby/2.1.0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/utilities/sprites/_base.scss */
.icon-web {
  background-position: 0 -192px;
}

/* line 40, ../sass/main.scss */
.container {
  position: relative;
  margin: 0 auto;
  padding: 0 1.25em;
  overflow: hidden;
  max-width: 76.5em;
}
