@import url(http://fonts.googleapis.com/css?family=Merriweather);
/*****************************************************************************/
/* BASE
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #fff;
  font: 18px 'Merriweather', serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Merriweather', serif;
  font-weight: 400;
  font-size: 100%; 
  color: #4B4F55;
}

h1 { margin-bottom: 1em; font-size: 44px; line-height: 54px; }
p { 
	margin: 1em 0;
	color: #5c6065;
	font-weight: 300; 
}

/*****************************************************************************/
/* LAYOUT
/*****************************************************************************/

#sidebar {
	position: fixed;
	width: 250px;
	height: 100%;
	background-color: #333740;
}

#content {
	margin: 0 0 0 250px;
	padding: 20px;
}

/*****************************************************************************/
/* MODULE
/*****************************************************************************/

/*Logo*/
#logo {
	padding: 10px;
}

	#logo h1 {
		color: #ED5951;
		font-size: 28px;
	}

/*Nav*/
#sidebar nav {
	background-color: #333740;

}
	#sidebar nav li {
		list-style: none;
		
	}

		#sidebar nav li a {
			display: block;
			padding: 10px 15px;
			text-decoration: none;
			background-color: #2c3036;
			color: #7D7F85;
			font-size: 14px;
		}

		#sidebar nav li a:hover {
			background-color: #ED5951;
			color: #ffffff;
		}

