/* ===============
   Base Rules 
   =============== */
@import "compass/css3/box-sizing";

/* ===Globals=== */

* {
  margin: 0;
  padding: 0;
  // Apply a natural box layout model to all elements
	// http://www.paulirish.com/2012/box-sizing-border-box-ftw/
  @include box-sizing(border-box);
}
  
html, body { height: 100%; }

section, article, header, footer {  display: block; }

body {
  background: #fff url('../img/bg.png');
  font-size: 1em;
  line-height: em(21);
  font-family: "Open Sans", Arial, sans-serif;
  color: $color-medium;
}

/* ===Headings=== */

h1, h2, h3, h4, h5, h6 {
	font-family: "Montserrat", Arial, serif;
	font-weight: normal;
    font-style: normal;
	color: $color-dark;
	text-shadow: 0 1px 0 #eee;

	a {
		color: $color-dark;
		&:hover {
			color: $color-highlight;
			text-decoration: none;
		}
	}
}

h1 {
	font-size: em(36);
	line-height: em(55, 36);
    margin-bottom: em(10, 36);
}

h2 {
	font-size: em(32);
	line-height: em(40, 32);
	margin-bottom: em(10, 30);
}

h3 {
	font-size: em(22);
	line-height: em(30, 22);
	margin-bottom: em(8, 22);
}

h4 {
    font-size: em(18);
    line-height: em(20, 18);
}

/* ===Links=== */

a {
	color: $color-highlight;
	text-decoration: none;
	&:hover { text-decoration: underline; }
}

/* ===Text=== */

p {
	margin: 0 0 $default-margin 0;
}

img {
	max-width: 100%;
}

ul, ol { margin-bottom: 20px; }
ul { list-style: none outside; }

/* ===Blockquote=== */

code {
  background-color: #f9f9f9;

}

.highlight, blockquote { 
  background-color: #f9f9f9;
  padding: em(7) em(7) em(7) em(10);
  border: 1px solid #ddd;
  -moz-box-shadow: 3px 3px rgba(0,0,0,0.1);
  -webkit-box-shadow: 3px 3px rgba(0,0,0,0.1);
  box-shadow: 3px 3px rgba(0,0,0,0.1);
  margin: em(20) 0 em(20) 0;
  overflow: hidden;
}

blockquote {
    quotes: "\201C""\201D""\2018""\2019";

  p { display: inline; }

  &:before {
      color: #ccc;
      content: open-quote;
      font-size: 4em;
      line-height: 0.1em;
      margin-right: 0.25em;
      vertical-align: -0.4em;
    }
}

/* ===Table=== */
table {
    border-collapse: collapse;
    text-rendering: optimizeLegibility;
    text-align: left;
    margin-bottom: $default-margin;
    width: 100%;

    th {
        background: #E86A4D;
        color: #fff;
        font-weight: 600;
    }

    th, td {
        padding: $default-margin / 2;
        border-bottom: 1px solid #E86A4D;
    }
}

@media screen and (max-width: 600px) {
    table {
        thead { display: none; }
        tbody td {
            display: block;
        }
        td:first-child {
            background: #E86A4D;
            color: #fff;
        }
        tbody td:before {
            content: attr(data-th);
            font-weight: bold;
            display: inline-block;
            width: 10rem;
        }
    }
}
