// ==========================================================================
// Base rules
// ========================================================================== 
@import 'bourbon/bourbon';

//Has to be a numer instead of pixels because of the px-to-em converting function
$base-font-size: 14;

// === Globals === //
* {
  margin: 0;
  padding: 0;
}

// Apply a natural box layout model to all elements
// http://www.paulirish.com/2012/box-sizing-border-box-ftw/
*, *:before, *:after {
	@include box-sizing(border-box);
}

html, body { height: 100%; }

body {
  background: #fff url('../img/bg.png');
  font-size: em($base-font-size);
  line-height: em(21, $base-font-size);
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: $color-light;
}

// === Headings === //

h1, h2, h3, h4, h5, h6 {
	font-family: "Georgia", "Times New Roman", Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	color: color-dark;	
	text-shadow: 0 1px 0 #eee;

	a {
		color: $color-dark;
		&:hover {
			color: $color-highlight;
			text-decoration: none;
		}
	}
}

h2 {
	font-size: em(35, $base-font-size);
	line-height: em(40, 35);
	font-style: italic;
	margin-bottom: em(20, 35);
}

// === Links === //

a {
	color: $color-highlight;
	text-decoration: none;
	&:hover { text-decoration: underline; }
}

// === Text === //

p {
	margin: 0 0 20px 0;
}

img {
	max-width: 100%;
}