/* ===============
   Layout Rules 
   =============== */

@import 'bourbon/bourbon';

/* ===Top section=== */

// Because we want the top always to be permament and the content flow under the top,
// we make it fixed and set it on top with z-index, the content should be slightly visible below
// through the opacity effect 
#top {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	border-bottom: 8px solid $shadow;
	opacity: 0.9;
	z-index: 50;

	header {
		border-top: 3px solid $color-highlight;
		border-bottom: 1px solid $color-border;
		@include background(linear-gradient(top, #fff 0%,#fff 65%,#eee 100%));
		overflow: hidden;
	}
}

/* ===Main section=== */

#main {
	margin-top: em(90, $default-font-size);
	
	// The navigation is too long to be on one row with the branding on small devices
	// so it will break and the place required for the top is much bigger
	// and therefore the padding has to be more
	// we dont respond to very small devices that even have no place for the whole navigation
	@media only screen and (max-width: em(430, $default-font-size)) {
		margin-top: em(140, $default-font-size);		
	}
}

#content {
	background: $shadow;
}

@include respond-to($screen-medium) {
	#content {
		float: left;
		width: 80%;
	}

	#right {
		float: right;
		width: 20%;
		padding-left: $default-margin;
	}
}

/* ===Bottom=== */

#bottom {
	padding-top: $default-margin;
}	