/* ===============
   Layout Rules 
   =============== */

@import 'bourbon/bourbon';

/* ===Top section=== */

// Because we want the top always to be permament and the content flow under the top,
// we make it fixed and set it on top with z-index, the content should be slightly visible below
// through the opacity effect 
#top {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	border-bottom: 8px solid $shadow;
	opacity: 0.9;
	z-index: 50;

	header {
		border-top: 3px solid $color-highlight;
		border-bottom: 1px solid $color-border;
		@include background(linear-gradient(top, #fff 0%,#fff 65%,#eee 100%));
		overflow: hidden;
	}

	// User shouldnt have a permament top on mobile devices, space is precious there
	@media only screen and (max-width: $screen-break-top) {
		position: relative;

	}
}

/* ===Main section=== */

#main {
	margin-top: em(90, $default-font-size);
	overflow: visible;
	@include clearfix;
	// Because the navigation is no longer fixed we no longer need the huge margin
	@media only screen and (max-width: $screen-break-top) {
		margin-top: $default-margin;		
	}
}

#content {
	background: $shadow;
}

@media only screen and (min-width: $screen-break-right) {
	#content {
		float: left;
		width: 80%;
	}

	#right {
		float: right;
		width: 20%;
		padding-left: $default-margin;
	}
}

/* ===Bottom=== */

#bottom {	
	padding-top: $default-margin;
}	