// ==========================================================================
// Layout rules
// ========================================================================== 

// === Top section === //

// Because we want the top always to be permament and the content flow under the top,
// we make it fixed and set it on top with z-index, the content should be slightly visible below
// through the opacity effect 
#top {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	border-bottom: 8px solid rgba(40,40,40, .1);
	opacity: 0.9;
	z-index: 50;

	header {
		border-top: 3px solid $color-highlight;
		border-bottom: 1px solid $color-border;
		background: -webkit-linear-gradient(top, #fff 0%,#fff 65%,#eee 100%);
		overflow: hidden;
	}
}

// === Main section === //

$right-width: 220px;

#main {
	padding-top: 90px;
	
	// The navigation is too long to be on one line with the branding on small devices
	// so it will break and the place required for the top is much bigger
	// and therefore the padding has to be more
	// we dont respond to very small devices that even have no place for the whole navigation
	@media only screen and (max-width: 430px) {
		padding-top: 140px;		
	}
}

// Create a bio version that is also readable on mobile versions later
#right {
	display: none;
}

@include respond-to($screen-medium + 1) {
	#content {		
		background-color: rgba(40,40,40, .1);
		margin-right: $padding-default;
		width: $screen-medium - $right-width - $padding-default;
		float: left;
	}

	#right {
		width: $right-width;
		float: left;
		display: block;
	}
}

@include respond-to($screen-wide) {
	#content {
		width: $screen-wide - $right-width - $padding-default;
	}
}

// === Bottom === //

#bottom {
	padding-top: $padding-default;
}