/* ===============
   Module Rules 
   =============== */

/* ===Branding=== */

div.branding {
	float: left;

	h1, h2 {
		display: inline-block;
	}

	h2 {
		margin: 0;
		font-size: em(12, $default-font-size);
		color: $color-medium;
	}
}

/* ===TopNav === */

#top-nav {
	float: right;
	margin: $default-margin 0 $default-margin/2 0;
	
	li {
		float: left;
		line-height: em(18, $default-font-size);
		list-style: none;
	
		a {
			font-size: em(11, $default-font-size);
			padding: 0 $default-margin $default-margin/2 0;
			font-weight: bold;
			text-transform: uppercase;
			text-decoration: none;
			color: $color-dark;
		}

		&:last-child a {
			padding-right: 0;
		}
	}	

}

/* ===Article=== */

article {
	@include shiny-box;
	margin: 0 0 $default-margin 0;

	div.content {
		padding: $default-margin;
	}
	
	footer {
		padding: $default-margin/2 $default-margin;
		border-top: 1px solid #eee;
		overflow: hidden;
	}
}

/* ===Biography=== */

div.bio {	
	@include shiny-box;
	div.description {
		padding: $default-margin/2 $default-margin;
	}

	.tags { float: left; }
	.permalink { float: right; }
}