// ==========================================================================
// Module rules
// ========================================================================== 

/*Branding*/

div.branding {
	float: left;
	padding-top: 10px;
}

.branding h1, .branding h2 {
	display: inline-block;
}

.branding h2 {
	margin: 0;
	font-size: 12px;
	bottom: 3px;
	color: #999;
}

/* Primary nav */

#top-nav {
	float: right;
	margin-bottom: 20px;
	
	ul {
		margin: 20px 0 0 0;
	}

	li {
		float: left;
		line-height: 18px;
		list-style: none;
	
		a {
			font-size: 11px;
			padding: 0 20px 10px 0;
			font-weight: bold;
			text-transform: uppercase;
			text-decoration: none;
			color: #444;
		}

		&:last-child a {
			padding-rigth: 0;
		}
	}	

}

@media only screen and (min-width: 960px) {
	nav.nav-primary {
		margin-bottom: 0;
	}
}

/* Articles */

article {
	background: -webkit-linear-gradient(left, #f7f7f7 0%,#ffffff 4%,#ffffff 100%);
	box-shadow: 0px 0px 3px 0px #ccc;	
	margin: 0 0 20px 0;
}

	article div.content {
		padding: 30px 30px 10px 10px;
	}

	footer {
		color: #999;
		font-size: 11px;
	}

	footer a {
			color: #999;	
	}

	article footer {
		padding: 10px;
		border-top: 1px solid #eee;
		overflow: hidden;
	}		

.tags {
	float: left;
}

.permalink {
	float: right;
}