/* ===============
   Module Rules 
   =============== */

@import "compass/utilities/sprites";

/* ===Branding=== */

div.branding {
	float: left;

	a {
		color: inherit; 
	}

	h1, h2 {
        font-family: "Share Tech", cursive;
		display: inline-block;
	}

	h2 {
		margin: 0;
		font-size: em(13);
		color: $color-medium;
	}
}

/* ===TopNav === */

#top-nav {
	float: right;
	margin: $default-margin 0 $default-margin/2 0;

	// When we have a whole row for our nav, we don't need such a big margin to the top	
	@media only screen and (max-width: $screen-break-right) {
		margin: $default-margin/2 0 $default-margin/2 0;
	}

	li {
		float: left;
		line-height: em(18);
		list-style: none;
	
		a {
			font-size: em(13);
			padding: 0 $default-margin $default-margin/2 0;
			font-weight: bold;
			text-transform: uppercase;
			text-decoration: none;
			color: $color-dark;
		}

		&:last-child a {
			padding-right: 0;
		}
	}

}

/* ===Article=== */

article {
	@include shiny-box;
	position: relative;
	margin: 0 0 $default-margin 0;	

	.content {
		padding: 0 $default-margin;
	}

	header {
		padding: em(64) $default-margin 0 $default-margin;

		.post-format {
			width: em(64);
			height: em(64);
			left: $default-margin;
			top: 0em;
			position: absolute;
			background-color: $color-highlight;
		}

		.post-date {
			font-size: $default-font-size;
			text-transform: uppercase;
			text-align: center;
			line-height: em(26);
			color: #fff;
			background-color: #ccc;
			width: em(64);
			height: em(25);
			left: em(64 ) + $default-margin;
			top: 0em;
			position: absolute;
		}

		@media only screen and (min-width: $screen-max-container) {
			padding-top: $default-margin;

			.post-format {
				left: em(-64);
				top: em(20);
			}

			.post-date {
				top: em(64 + 20 + 1);
			left: em(-64);
			}
		}

		
	}

	footer {
		padding: $default-margin/2 $default-margin;
		border-top: 1px solid #eee;
		overflow: hidden;
	}
}

/* ===Comments=== */
.comments {
	@include shiny-box;
	margin: 0 0 $default-margin 0;
    padding: 0 $default-margin;

/* ===Biography=== */

.bio {	
	overflow: hidden;
	@include shiny-box;
	
	.description {
		padding: $default-margin/2 $default-margin;
	}

	@media only screen and (max-width: $screen-break-right) {
		.avatar {
			padding: $default-margin 0 $default-margin $default-margin;
			width: 30%;
			float: left;
		}

		.description {
			padding: $default-margin;
			float: left;
			width: 70%;
		}
	}	
}


/* ===Footer=== */

footer {
	color: $color-light;
	font-size: em(14);

	a {
		color: $color-light;
	}

	.tags { float: left; }
	.permalink { float: right; }
}

/* ===Icons === */
@import "icon/*.png";
@include all-icon-sprites;
