/* DOCUMENT INFORMATION
	- Version/Date: v0.1/2013
	- Client: Lukas Martinelli
	- Author: Lukas Martinelli   
*/

@import 'bourbon/bourbon';

//Has to be a numer instead of pixels because of the px-to-em converting function
$default-font-size: 14;
//This is the default margin between elements
$default-margin: em(20, $default-font-size);

$color-light: #999;
$color-medium: #555;
$color-dark: #444;
$color-highlight: #e86a4d;
$color-border: #d4d4d4;
$shadow: rgba(40,40,40, .1);

$screen-break-top: em(420, $default-font-size);
$screen-break-right: em(768, $default-font-size);
$screen-max-container: em(1224, $default-font-size);

@mixin shiny-box {
	@include linear-gradient(to left, #f7f7f7 0%, #fff 4%, #fff 100%);
	box-shadow: 0 0 em(3, $default-font-size) 0 #ccc;	
}

@import "base.scss";
@import "layout.scss";
@import "module.scss";

.container {
	position: relative;
	margin: 0 auto;
	padding: 0 $default-margin;
	overflow: hidden;	
	// Allow scaling the container until the supported wide screen
	max-width: $screen-max-container;
}