---
layout: home
title: Lukas Martinelli's Dev Blog
---

<section id="content-blog">
  <header class="section-title">
    <h2><a href="/blog.html">Blog</a></h2>
    <a href='https://feedly.com/i/subscription/feed%2Fhttp%3A%2F%2Flukasmartinelli.ch%2Ffeed.xml'  target='blank'><img id='feedlyFollow' src='http://s3.feedly.com/img/follows/feedly-follow-rectangle-volume-small_2x.png' alt='follow us in feedly' width='66' height='20'></a>
  </header>
{% include blog.html %}
</section>

<section id="content-projects">
  <header class="section-title">
    <h2><a href="/projects.html">Projects</a></h2>
    <a class="github-button" href="https://github.com/lukasmartinelli" data-show-count="true" aria-label="Follow @lukasmartinelli on GitHub">Follow</a>
  </header>
{% include popular_projects.html %}
</section>

<section id="content-twitter">
  <header class="section-title">
    <h2><a href="https://twitter.com/lukmartinelli">Twitter</a></h2>
    <a class="twitter-follow-button"
      data-dnt="true"
      data-show-screen-name="false"
      href="https://twitter.com/lukmartinelli">Follow on Twitter</a>
  </header>
  {% include twitter_timeline.html %}
</section>

