<div class="bio">
  <div class="avatar"><img src="/img/lukasmartinelli.jpg "></img></div>
  <div class="description">
      <p>
      I'm <a href="/cv.html">Lukas Martinelli</a>, a web developer from Switzerland and currently studying Computer Science.
      </p>
      <a href='/feed.xml' target='blank'>
          <img src='/img/rss.png' alt='Subscribe with RSS'></img>
      </a>
      <a href='mailto:me@lukasmartinelli.ch' target='blank'>
          <img src='/img/mail.png' alt='Contact me'></img>
      </a>
  </div>
</div>
