<ul class="blog-compact">
{% for post in site.posts %}
{% if post.hidden != true %}
  <li class="blog-compact-item">
    <time class="blog-compact-date" datetime="{{ post.date }}" title="{{ post.date | date: '%B %d, %Y' }}">{{ post.date | date: "%b %Y" }}</time>
    <a class="blog-compact-link" href="{{ post.url }}">{{ post.title }}</a>
  </li>
{% endif %}
{% endfor %}
</ul>

<style>
.blog-compact {
  list-style: none;
  margin: 0;
  padding: 0;
}

.blog-compact-item {
  padding: 12px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}

.blog-compact-item:last-child {
  border-bottom: none;
}

.blog-compact-date {
  display: block;
  margin-bottom: 3px;
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 11px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #aaa;
}

.blog-compact-link {
  display: block;
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.4;
  color: #444;
}

.blog-compact-link:hover {
  color: #e86a4d;
}
</style>
