<article class="project">
  <header>
    <h1>{{ project.title }}</h1>
    <a class="github-button" href="https://github.com/{{ project.github_repo }}" data-icon="octicon-star" data-show-count="true" aria-label="Star {{project.github_repo}} on GitHub">Star</a>
  </header>
  <div class="content">
    {{ project.content | markdownify }}
  </div>
  <footer>
    <span class="tags">
      {% for tag in project.tags %}
        <a href="#" rel="tag">#{{tag}}</a>
      {% endfor %}
    </span>
  </footer>
</article>
