<div id="top">
  <header>
    <div class="container">
      <div class="branding">
        <a href="/"><h1>Blog</h1></a>
        <h2>linux, oss, osm, maps, python, golang, js, web, cloud</h2>
      </div>
      <nav id="top-nav">
        <ul>
          <li><a href="/">Blog</a></li>
          <li><a href="/projects.html">Projects</a></li>
          <li><a href="/cv.html">About me</a></li>
          <li><a href="/archive.html">Archive</a></li>
        </ul>
      </nav>
    </div>
  </header>
</div>
