/* ===============
   Layout Rules
   =============== */

/* ===Top section=== */

// Because we want the top always to be permament and the content flow
// under the top, // we make it fixed and set it on top with z-index,
// the content should be slightly visible below through the opacity effect
#top {
    position: fixed;
    top: 0px;
	left: 0px;
	width: 100%;
	border-bottom: 8px solid $shadow;
	opacity: 0.9;
	z-index: 50;

	header {
		border-top: 3px solid $color-highlight;
		border-bottom: 1px solid $color-border;
        background: linear-gradient(to bottom, #ffffff 0%, #ffffff 65%, #eeeeee 100%);
		overflow: hidden;
	}

	// User shouldnt have a permament top on mobile devices
    // as space is precious there
	@media only screen and (max-width: $screen-break-top) {
		position: relative;

	}
}

/* ===Main section=== */

#main {
	margin-top: em(90);
    @include clearfix;
	overflow: visible;
	// Because the navigation is no longer fixed we no longer need the huge margin
	@media only screen and (max-width: $screen-break-top) {
		margin-top: $default-margin;
	}
}

#content {
  @include clearfix;
}

@media only screen and (min-width: $screen-break-right) {
	#content {
		float: left;
		width: 80%;
	}

	#right {
		float: right;
		width: 20%;
		padding-left: $default-margin;
	}
}

#content-blog, #content-projects {
	background: $shadow;
}

#content-blog {
  width: 49%;
  float: left;
}

#content-projects {
  width: 49%;
  float: right; 
}

/* ===Bottom=== */

#bottom {
	clear: both;
	padding-top: $default-margin;
}
