/* ===============
   Module Rules
   =============== */

/* ===Branding=== */

div.branding {
	float: left;

	a {
		color: inherit;
	}

	h1, h2 {
        font-family: "Share Tech", cursive;
		display: inline-block;
	}

	h2 {
		margin: 0;
		font-size: em(13);
		color: $color-medium;
	}
}

/* ===TopNav === */

#top-nav {
	float: right;
	padding: $default-margin/2;

	li {
		float: left;
		line-height: em(18);
		list-style: none;

		a {
			font-size: em(13);
			padding: 0 $default-margin $default-margin/2 0;
			font-weight: bold;
			text-transform: uppercase;
			text-decoration: none;
			color: $color-dark;
		}

		&:last-child a {
			padding-right: 0;
		}
	}

}

/* ===Section Title === */

.section-title {
    //border-top: 3px solid $color-highlight;
    border-bottom: 1px solid $color-border;
    @include clearfix;
    @include shiny-box;
    padding: $default-margin;

    h1, h2, h3 {
      margin-bottom: 0px;
      display: inline;
    }

    > a, > iframe {
      display: inline;
      margin-left: $default-margin/2;
      //float: right;
      //margin-top: em(12);
    }

    @media only screen and (max-width: 900px) {
      border-bottom: 3px solid #e86a4d;
    }
}

/* ===Article=== */

#content-blog, #content-project {
}

article.post {
    ul, ol {
        padding-left: 2em;
    }

    ul li {
        text-indent:-5px;

        &:before {
            content:"-";
            position:relative;
            left:-5px;
        }
    }
}

article {
	@include shiny-box;
	position: relative;

	.content {
		padding: 0 $default-margin;
	}

  @media only screen and (max-width: 900px) {
    margin-bottom: $default-margin/2;
  }

	header {
    $date-font-size: 0.75 * $default-font-size;
		padding: $default-margin $default-margin 0 $default-margin;

		.post-format {
			width: em($icon-size);
			height: em($icon-size);
			left: $default-margin;
			top: 0em;
			position: absolute;
			background-color: $color-highlight;
		}

		.post-date {
			font-size: em($date-font-size);
      font-weight: bold;
			text-transform: uppercase;
			text-align: center;
			line-height: em(26, $date-font-size);
			color: #fff;
			background-color: #ccc;
			width: em($icon-size, $date-font-size);
			height: em(25, $date-font-size);
			left: em($icon-size, $date-font-size) + $default-margin;
			top: 0em;
			position: absolute;
		}

		@media only screen and (min-width: $screen-max-container) {
			padding-top: $default-margin;

			.post-format {
				left: em(-$icon-size);
				top: em(20);
			}

			.post-date {
				top: em($icon-size + 20 + 1, $date-font-size);
			  left: em(-$icon-size, $date-font-size);
			}
		}


	}

	footer {
		padding: $default-margin/2 $default-margin;
    padding-top: 0px;
		//border-top: 1px solid #eee;
		//overflow: hidden;
	}
}

#content-blog article header, #content-post article header {
		padding-top: em($icon-size);
}

/* ===Comments=== */
.comments {
	@include shiny-box;
	margin: 0 0 $default-margin 0;
    padding: 0 $default-margin;
}

/* ===Biography=== */
.bio {
	h1 {
	  font-size: em(22);
	}

  display: inline-block;
  //max-width: em(400);

	.avatar-description {
    max-width: em(400);
    height: em(50);
    display: inline-block;
		padding: $default-margin/2;
    padding-right: 0px;
	}

  .avatar-name a {
    text-decoration: none;
  }

  .avatar {
    vertical-align: top;
    display: inline-block;
		padding: $default-margin/2;
    padding-right: 0px;
    padding-left: 0px;

    img {
      height: em(32);
      border-radius: 2px;
    }
	}
}

/* ===Image Gallery=== */
a.gallery img {
    border: 4px solid $color-highlight;
    margin-right: $default-margin;
    margin-bottom: $default-margin;
}

/* ===CV=== */
.cv {
    padding-bottom: $default-margin;

    header {
        padding-top: $default-margin;
    }
}

/* ===Archive=== */
.archive {
    padding-bottom: $default-margin;

    header {
        padding-top: $default-margin;
    }
}

/* ===Projects=== */

.projects {
	@include shiny-box;
	position: relative;
	margin: 0 0 $default-margin 0;

	.content {
		padding: 0 $default-margin;
	}

	header {
      padding: $default-margin;
  }
}

.project {
    @include clearfix;

    header {
        @include clearfix;
        h3, a, iframe {
          display: inline;
        }

        a, iframe {
          margin-left: $default-margin/2;
        }
    }
}

/* ===Footer=== */

footer {
	color: $color-light;
	font-size: em(14);

	a {
		color: $color-light;
	}

	.tags {
    display: inline-block;
  }
}

/* ===Code Highlighting=== */

.highlight {
  overflow-x: auto;

  @media only screen and (max-width: em(800)) {
    font-size: 0.8em;
  }
}

#content-blog {
  article h1 {
	  font-size: em(22);
	  line-height: 1.2em;
    margin-bottom: 0.5em;
  }
}

/* ===Icons === */
// Can no longer generate these without compass
// so they are hand made for now

.icon-sprite, .icon-cloud, .icon-gis, .icon-idea, .icon-python, .icon-web {
  background-repeat: no-repeat;
  background-size: 100%;
}

.icon-cloud { background-image: url('../img/icon/cloud.png'); }
.icon-gis { background-image: url('../img/icon/gis.png'); }
.icon-idea { background-image: url('../img/icon/idea.png'); }
.icon-python { background-image: url('../img/icon/python.png'); }
.icon-web { background-image: url('../img/icon/web.png'); }
