/* ===============
   Module Rules
   =============== */

/* ===Branding=== */

div.branding {
	float: left;

	a {
		color: inherit;
	}

	h1, h2 {
        font-family: "Share Tech", cursive;
		display: inline-block;
	}

	h2 {
		margin: 0;
		font-size: em(13);
		color: $color-medium;
	}
}

/* ===TopNav === */

#top-nav {
	float: right;
	margin: $default-margin 0 $default-margin/2 0;

	// When we have a whole row for our nav, we don't need such a big margin to the top
	@media only screen and (max-width: $screen-break-right) {
		margin: $default-margin/2 0 $default-margin/2 0;
	}

	li {
		float: left;
		line-height: em(18);
		list-style: none;

		a {
			font-size: em(13);
			padding: 0 $default-margin $default-margin/2 0;
			font-weight: bold;
			text-transform: uppercase;
			text-decoration: none;
			color: $color-dark;
		}

		&:last-child a {
			padding-right: 0;
		}
	}

}

/* ===Article=== */

article.post {
    ul, ol {
        padding-left: 1em;
    }

    ul li {
        text-indent:-5px;

        &:before {
            content:"-";
            position:relative;
            left:-5px;
        }
    }
}

article {
	@include shiny-box;
	position: relative;
	margin: 0 0 $default-margin 0;

	.content {
		padding: 0 $default-margin;
	}

	header {
		padding: em(64) $default-margin 0 $default-margin;

		.post-format {
			width: em(64);
			height: em(64);
			left: $default-margin;
			top: 0em;
			position: absolute;
			background-color: $color-highlight;
		}

		.post-date {
			font-size: $default-font-size;
			text-transform: uppercase;
			text-align: center;
			line-height: em(26);
			color: #fff;
			background-color: #ccc;
			width: em(64);
			height: em(25);
			left: em(64 ) + $default-margin;
			top: 0em;
			position: absolute;
		}

		@media only screen and (min-width: $screen-max-container) {
			padding-top: $default-margin;

			.post-format {
				left: em(-64);
				top: em(20);
			}

			.post-date {
				top: em(64 + 20 + 1);
			left: em(-64);
			}
		}


	}

	footer {
		padding: $default-margin/2 $default-margin;
		border-top: 1px solid #eee;
		overflow: hidden;
	}
}

/* ===Comments=== */
.comments {
	@include shiny-box;
	margin: 0 0 $default-margin 0;
    padding: 0 $default-margin;
}

/* ===Biography=== */
.bio {
	overflow: hidden;
	@include shiny-box;

	.description {
		padding: $default-margin/2 $default-margin;
	}

	@media only screen and (max-width: $screen-break-right) {
		.avatar {
			padding: $default-margin 0 $default-margin $default-margin;
			width: 30%;
			float: left;
		}

		.description {
			padding: $default-margin;
			float: left;
			width: 70%;
		}
	}
}

/* ===Image Gallery=== */
a.gallery img {
    border: 4px solid $color-highlight;
    margin-right: $default-margin;
    margin-bottom: $default-margin;
}

/* ===CV=== */
.cv {
    padding-bottom: $default-margin;

    header {
        padding-top: $default-margin;
    }
}

/* ===Archive=== */
.archive {
    padding-bottom: $default-margin;

    header {
        padding-top: $default-margin;
    }
}

/* ===Projects=== */

.projects {
	@include shiny-box;
	position: relative;
	margin: 0 0 $default-margin 0;

	.content {
		padding: 0 $default-margin;
	}

	header {
        padding: $default-margin;
    }
}

.project {
    @include clearfix;

    header {
        @include clearfix;

        h3 span {
            display: block;
            float: left;
        }
        .github-stars { float: right; }
    }
}

/* ===Footer=== */

footer {
	color: $color-light;
	font-size: em(14);

	a {
		color: $color-light;
	}

	.tags { float: left; }
	.permalink { float: right; }
}

/* ===Code Highlighting=== */

.highlight {
  overflow-x: auto;

  @media only screen and (max-width: em(800)) {
    font-size: 0.8em;
  }
}

/* ===Icons === */
// Can no longer generate these without compass
// so they are hand made for now

.icon-sprite, .icon-cloud, .icon-gis, .icon-idea, .icon-python, .icon-web {
  background-image: url('../img/icon-se270bbf41a.png');
  background-repeat: no-repeat;
}

.icon-cloud { background-position: 0 0; }
.icon-gis { background-position: 0 -64px; }
.icon-idea { background-position: 0 -128px; }
.icon-python { background-position: 0 -192px; }
.icon-web { background-position: 0 -256px; }
