<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />

        <link rel="stylesheet" href="/css/syntax.css">
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>
        {% include top.html %}
        <div id="main" class="container">
          <section id="content">
            {{ content }}
          </section>
          <aside id="right">
            <div class="bio">
              <div class="avatar"><img src="http://placehold.it/220x260"></img></div>
              <div class="description">
                <p>A custom bio widget is included, share a little about yourself or just use your logo if you're shy. :)</p>
              </div>
            </div>
          </aside>          
        </div>
        {% include bottom.html %}     
    </body>
</html>
