<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>
        <div id="top">
          <header>
            <div class="container">
              <div class="branding">
                <h1>Blog</h1>
                <h2>Life runs on code</h2>
              </div> 
              <nav class="nav-primary">
                <ul>
                  <li><a href="#">Blog</a></li>
                  <li><a href="#">Archives</a></li>
                  <li><a href="#">About</a></li>
                  <li><a href="#">Portfolio</a></li>
                  <li><a href="#">Contact</a></li>
                </ul>
              </nav>   
            </div>
            
          </header>
        </div>
        <div id="main">
          <section id="content">
            <div class="container">
              {{ content }}
            </div>
          </section>
          <aside></aside>
        </div>
        <footer>
          <div class="container">
            <p>Copyright <a href="lukasmartinelli.ch">Lukas Martinelli</a></p>
          </div>
        </footer>
    </body>
</html>
