---
layout: default
---

<article>
	<header>		
		<div class="post-format icon-{{ page.categories[0] }}">&nbsp;</div>
		<time class="post-date" datetime="{{ page.date }}" pubdate="pubdate" title"{{ page.date | date: '%B %d, %Y' }}
">{{ page.date | date: "%b %-d"}}</time>
		<h1><a href=" {{ page.url }}">{{ page.title }}</a></h1>	
	</header>
	<div class="content">
	  	{{ content }}
  	</div>
  	<footer>
	  	<span class="tags">
  		{% for tag in page.tags %}
  			<a href="#" rel="tag">#{{tag}}</a>
  		{% endfor %}
	  	</span>
	  	<span class="permalink">
	  		<a href="{{ page.url  }}">Permalink</a>
	  	</span>
  	</footer>
</article>

