---
layout: default
class: post
---

<section id="content-post">
<article class="post">
	<header>
		<div class="post-format icon-{{ page.categories[0] }}">&nbsp;</div>
		<div class="post-date-container">
			<time class="post-date" datetime="{{ page.date }}" pubdate="pubdate" title"{{ page.date | date: '%B %d, %Y' }}
">{{ page.date | date: "%b %-d"}}</time>
			<div class="post-year">{{ page.date | date: "%Y"}}</div>
		</div>
		<h1><a href=" {{ page.url }}">{{ page.title }}</a></h1>
	</header>
	<div class="content">
	  	{{ content }}
	</div>
	<footer>
 	<span class="tags">
  		{% for tag in page.tags %}
  			<a href="#" rel="tag">#{{tag}}</a>
  		{% endfor %}
	  	</span>
	  	<span class="permalink">
	  		<a href="{{ page.url  }}">Permalink</a>
	  	</span>
  	</footer>
</article>
<aside class="comments">
    {% include comments.html %}
</aside>
</section>
