---
layout: default
---

<article>
	<header>
		<div class="post-format"></div>
		<time class="post-date" datetime="2011-10-18" pubdate="pubdate" title"October 18, 2011">Oct 18</time>
	</header>
	<div class="content">
		<h2><a href="{{ post.url }}">{{ page.title }}</a></h2>
	  	{{ content }}
  	</div>
  	<footer>
	  	<span class="tags">
  		{% for tag in page.tags %}
  			<a href="#" rel="tag">#{{tag}}</a>
  		{% endfor %}
	  	</span>
	  	<span class="permalink">
	  		<a href="{{ page.url  }}">Permalink</a>
	  	</span>
  	</footer>
</article>

